{% extends 'base.html.twig' %}

{% block title %}Vendre un Produit
{% endblock %}

{% block body %}
	<div class="containerSell">
		<div class="formSell">
			<h1>Vendre un Produit</h1>

			{{ form_start(form) }}
			<div class="my-custom-class-for-errors">
				{{ form_errors(form) }}
			</div>

			<div class="row">
				<div class="col-lg-12">
					{{ form_row(form.prix) }}
				</div>
				<div class="col-lg-12">
					{{ form_row(form.boite) }}
				</div>
				<div class="col-lg-12">
					{{ form_row(form.jeu) }}
				</div>
				<div class="col-lg-12 my-3">
					<a class="" href="{{ path('jeu_new') }}">Ajouter un jeu</a>
				</div>
				<div class="col-lg-12">
					{{ form_row(form.plateforme) }}
				</div>
				<div class="col-lg-12">
					<button class="btn btn-primary m-1">{{ button_label|default('Valider') }}</button>
				</div>

			</div>
			{{ form_end(form) }}

			<div class="text-center">
				<a href="{{ path('home') }}">Retour à l'accueil</a>
			</div>
		</div>

	</div>

{% endblock %}
