{% extends 'base.html.twig' %}

{% block title %}Accueil | Le Coin Gaming{% endblock %}

{% block body %}

<!-- Presentation Page -->
<div class="containerAcc">
    <div class="accueil">
        <div class="titre">
            <h1>Le Coin Des Gameurs</h1>
            <p>Achat et Vente de Jeux d'Occasion</p>
            <div class="desc">
                <div class="slider-container">
                    <figure id="carousel--3d">
                        <input type="radio" name="carousel-3d" id="carousel-3d-controller-1" class="rad" />
                        <input type="radio" name="carousel-3d" id="carousel-3d-controller-2" class="rad" />
                        <input type="radio" name="carousel-3d" id="carousel-3d-controller-3" class="rad" />
                        {% for jeu in lastThreeGames %}
                        <div id="carousel-3d-controller-{{loop.index+1}}" class="carousel-3d-item">
                            <div class="slide-img">
                                <a href="{{ path('annonces_per_game', {'id': jeu.id}) }}"><img
                                        src="{{asset(jeu.image)}}" alt="" /></a>
                            </div>
                            <div class="slide-content">
                                <p>{{jeu.titre}}</p>
                                
                            </div>
                        </div>
                        {% endfor %}
                    </figure>
                </div>
            </div>
            <a href="{{ path('annonce_new')}}"><input type="button" class="button" value="Vendre un Produit"></a>
        </div>
    </div>
</div>


<!-- Classement de Jeux Récents -->
<section class="classJeu1">
    <h2>Jeux Récents</h2><br>
    <div class="jeuxR">
        <div class="imgdesc">
            {% for jeu in lastFourgames %}
            <a href="{{ path('annonces_per_game', {'id': jeu.id}) }}"><img style="height: 100%;" src="{{jeu.image}}" alt="" /></a>
            {% endfor %}
        </div>

    </div>
</section>


<!-- Fonctionnalité Principale du Site -->
<section id="services4" class="fonct">
    <div class="fonctP">
        <div class="fonct1">
            <div class="imgser"><i class="fas fa-bullhorn"></i></div>
            <h3>Des milliers d'annonces !</h3>
            <p>Et elles vous attendent, <a href="{{ path('games_listing') }}">Découvrez les dès maintenant</a></p>
        </div>
        <div class="border"></div>
        <div class="fonct2">
            <div class="imgser"><i class="fas fa-scroll"></i></div>
            <h3>Ventes 100% sécurisés</h3>
            <p>Les annonces sont controlés par notre équipe avant d'être publié sur le site</p>
        </div>
        <div class="border"></div>
        <div class="fonct3">
            <a href="{{ path('faq') }}">
                <div class="imgser"><i class="fas fa-question"></i></div>
                <h3>FAQ</h3>
            </a>
            <p>Nous vous accompagnons dans votre découverte de notre site grâce a notre froire aux questions!</p>
        </div>
    </div>
</section>



<!-- Les Derniers Jeux ayant une Annonce -->
<section class="ventesR">
    <h2>Les Dernières Annonces</h2>
    <div class="jeuxR">
        <div class="imgdesc">
            {% for annonce in lastSixjeux %}
            <a href="{{ path('annonces_per_game', {'id': annonce.jeu.id}) }}"><img style="height: 100%"
                    src="{{asset(annonce.jeu.image)}}" alt="" /></a>
            {% endfor %}
        </div>

    </div>
</section>

{% endblock %}

{% block javascripts %}
<script src="assets/js/accueil.js"></script>
{% endblock %}